
.clearfix
.page_title
  .container
    %h1 About Firm
/ end page title
.clearfix
.container.tbp
  %h4
    Many desktop publishing packages and
    %span.color web page editors
    now use Lorem Ipsum as their default model text, and a search for will many web sites still in their infancy various versions have evolved over the years.
  %p.big_text3 Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the  first true generator on the Internet It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable generated Lorem Ipsum is therefore always.
/ end section

.clearfix
.feature_sec7
  .container
    .title11
      %h2
        Meet our
        %strong Team
        %span.line4
    %br/
    .one_fourth
      =image_tag "site-img20.jpg"
      .cinfo
        =image_tag "shape1.jpg"
        %h5 Alex Jacobson
        %em Founder and Manager
        %b Practice Areas:
        Corporate and Securities
        %br/
        Commercial Lending,
        %br/
        Real Estate
        %br/
        %a{:href => "javascript:;"}
          %i.fa.fa-facebook
        %a{:href => "javascript:;"}
          %i.fa.fa-twitter
        %a{:href => "javascript:;"}
          %i.fa.fa-google-plus
        %br/
        %a.button1{:href => "javascript:;"} Read Full Bio
    / end section
    .one_fourth
      =image_tag "site-img21.jpg"
      .cinfo
        =image_tag "shape1.jpg"
        %h5 Marcos Heriberto
        %em Partner
        %b Practice Areas:
        Corporate and Securities
        %br/
        Commercial Lending,
        %br/
        Real Estate
        %br/
        %a{:href => "javascript:;"}
          %i.fa.fa-facebook
        %a{:href => "javascript:;"}
          %i.fa.fa-twitter
        %a{:href => "javascript:;"}
          %i.fa.fa-google-plus
        %br/
        %a.button1{:href => "javascript:;"} Read Full Bio
    / end section
    .one_fourth
      =image_tag "site-img22.jpg"
      .cinfo
        =image_tag "shape1.jpg"
        %h5 Alana Desiree
        %em Counsel
        %b Practice Areas:
        Corporate and Securities
        %br/
        Commercial Lending,
        %br/
        Real Estate
        %br/
        %a{:href => "javascript:;"}
          %i.fa.fa-facebook
        %a{:href => "javascript:;"}
          %i.fa.fa-twitter
        %a{:href => "javascript:;"}
          %i.fa.fa-google-plus
        %br/
        %a.button1{:href => "javascript:;"} Read Full Bio
    / end section
    .one_fourth.last
      =image_tag "site-img23.jpg"
      .cinfo
        =image_tag "shape2.jpg"
        %h5 Kiley Felicity
        %em Associate
        %b Practice Areas:
        Corporate and Securities
        %br/
        Commercial Lending,
        %br/
        Real Estate
        %br/
        %a{:href => "javascript:;"}
          %i.fa.fa-facebook
        %a{:href => "javascript:;"}
          %i.fa.fa-twitter
        %a{:href => "javascript:;"}
          %i.fa.fa-google-plus
        %br/
        %a.button1{:href => "javascript:;"} Read Full Bio
    / end section
/ end features section 7

.clearfix
.feature_sec12
  .container
    .title11
      %h2
        Community
        %strong Service
        %span.line4
    %br/
    .one_fifth
      %i.fa.fa-pencil-square-o
      %h5 Many web sites
      %p Simply dummy text of the printing type industry.
    / end section
    .one_fifth
      %i.fa.fa-paper-plane-o
      %h5 Specimen book
      %p Simply dummy text of the printing type industry.
    / end section
    .one_fifth
      %i.fa.fa-laptop
      %h5 Publish software
      %p Simply dummy text of the printing type industry.
    / end section
    .one_fifth
      %i.fa.fa-thumbs-o-up
      %h5 More obscure
      %p Simply dummy text of the printing type industry.
    / end section
    .one_fifth.last
      %i.fa.fa-bell-o
      %h5 Treatise theory
      %p Simply dummy text of the printing type industry.
    / end section
    .clearfix.margin_top6
    .one_fifth
      %i.fa.fa-lightbulb-o
      %h5 Renaissance
      %p Simply dummy text of the printing type industry.
    / end section
    .one_fifth
      %i.fa.fa-star-o
      %h5 Interested sections
      %p Simply dummy text of the printing type industry.
    / end section
    .one_fifth
      %i.fa.fa-heart-o
      %h5 Versions from
      %p Simply dummy text of the printing type industry.
    / end section
    .one_fifth
      %i.fa.fa-bookmark-o
      %h5 Default model
      %p Simply dummy text of the printing type industry.
    / end section
    .one_fifth.last
      %i.fa.fa-envelope-o
      %h5 Always free
      %p Simply dummy text of the printing type industry.
    / end section
/ end features section 12

.clearfix
.feature_sec14
  .container
    .title8
      %h2
        %span.line
        %span.text
          Our
          %strong Clients
          %span
    / end section title heading
    %br/
    .one_fifth
      .flips4.active
        .flips4_back.flipscont4
          %h5
            %strong
              %a{:href => "javascript:;"} Microsoft
          %p Infancy versions have evolved over years.
    / end section
    .one_fifth
      .flips4.active
        .flips4_back.flipscont4
          %h5
            %strong
              %a{:href => "javascript:;"} ebay
          %p Infancy versions have evolved over years.
    / end section
    .one_fifth
      .flips4.active
        .flips4_back.flipscont4
          %h5
            %strong
              %a{:href => "javascript:;"} Adobe
          %p Infancy versions have evolved over years.
    / end section
    .one_fifth
      .flips4.active
        .flips4_back.flipscont4
          %h5
            %strong
              %a{:href => "javascript:;"} IBM
          %p Infancy versions have evolved over years.
    / end section
    .one_fifth.last
      .flips4.active
        .flips4_back.flipscont4
          %h5
            %strong
              %a{:href => "javascript:;"} Google
          %p Infancy versions have evolved over years.
    / end section
    .margin_top3
    .clearfix
    .one_fifth
      .flips4.active
        .flips4_back.flipscont4
          %h5
            %strong
              %a{:href => "javascript:;"} Yahoo
          %p Infancy versions have evolved over years.
    / end section
    .one_fifth
      .flips4.active
        .flips4_back.flipscont4
          %h5
            %strong
              %a{:href => "javascript:;"} Discovery
          %p Infancy versions have evolved over years.
    / end section
    .one_fifth
      .flips4.active
        .flips4_back.flipscont4
          %h5
            %strong
              %a{:href => "javascript:;"} envato
          %p Infancy versions have evolved over years.
    / end section
    .one_fifth
      .flips4.active
        .flips4_back.flipscont4
          %h5
            %strong
              %a{:href => "javascript:;"} Deloitte
          %p Infancy versions have evolved over years.
    / end section
    .one_fifth.last
      .flips4.active
        .flips4_back.flipscont4
          %h5
            %strong
              %a{:href => "javascript:;"} Audi
          %p Infancy versions have evolved over years.
    / end section
/ end content area