.feature_sec1
  .container
    .title11
      %h2
        Welcome to Don App - Providing Legal Help
        %em Experience .Reliability .Ethics
        %span.line
    %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
    %h5
      Get Free Consulation
      %strong.animate{"data-anim-delay" => "300", "data-anim-type" => "fadeIn"} (888) 123-456-7890
      Available 24/7
/ end features section 1
.clearfix
.feature_sec2
  .container
    .one_fourth
      %i.fa.fa-university.animate{"data-anim-delay" => "100", "data-anim-type" => "zoomIn"}
      %h4 Responsive Theme
      %p.marb4 It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.
      %a.button7{:href => "#"} Read More
    / end section
    .one_fourth
      %i.fa.fa-paper-plane.animate{"data-anim-delay" => "200", "data-anim-type" => "zoomIn"}
      %h4 Diffrent Headers
      %p.marb4 It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.
      %a.button7{:href => "#"} Read More
    / end section
    .one_fourth.active
      %i.fa.fa-briefcase.animate{"data-anim-delay" => "300", "data-anim-type" => "zoomIn"}
      %h4 Profession & Modern
      %p.marb4 It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.
      %a.button7{:href => "#"} Read More
    / end section
    .one_fourth.last
      %i.fa.fa-gavel.animate{"data-anim-delay" => "400", "data-anim-type" => "zoomIn"}
      %h4 Well Structured
      %p.marb4 It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.
      %a.button7{:href => "#"} Read More
    / end section
/ end features section 2

.feature_sec5
  .container
    .two_third
      -# %img.img_left1.animate{:alt => "", "data-anim-delay" => "500", "data-anim-type" => "fadeInRight", :src => "images/site-img13.jpg"}/
      .img_left1
        =image_tag 'site-img13.jpg'
      %h2.small
        About
        %strong Me
      %p
        Long established fact that a reader will be distracted by the readable
        %strong content of a page when
        looking at layout The point of using is has a more less of letters.
      %br/
      %p
        As opposed to using content here content here making it look like readable English.
        %strong Many desktop publishing packages and web page editors now use the Lorem
        Ipsum as their default model text, and a search for lorem ipsum will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by sometimes packages on purpose.
      %br/
      %span.big_text1 Call Us Confidentially Now:
      \ 
      %span.big_text1.color (888) 123-456-7890
      %br/
      %br/
      .alicent
        =image_tag 'h-line10.png'
        %br/
        %br/
        .scriptfont Chirs Nicholas
    / end section
    .one_third.last.animate{"data-anim-delay" => "200", "data-anim-type" => "fadeIn"}
      %h2.small
        Case
        %strong Results
      .caseresult
        .inborder
          %p
            %span.big_text1 $4.9 billion
            in verdicts and settlements over 35 years. Does not reflect adjustments for fees, costs, or medical liens.
          .divider_line22
          %p
            %span.big_text1 $1 Million
            Settlement; School Student Suffers Brain Injury in Truck-Auto Crash.
          .divider_line22
          %p
            %span.big_text1 $3.75 Million
            Undue Influence to Disabled Woman in her Estate Trust Decisions Results in Settlement.


.clearfix
.feature_sec9
  .container.transpef
    .title11
      %h2.white
        Need Legal Assistance - Do You Have a Claim?
        %em Feel free to get in touch with any enquiries and one of our friendly members of staff will get back to you as soon as possible.
    .cforms
      %form#sky-form.sky-form{:action => "contact-form", :method => "post"}
        %fieldset
          .row
            .col.col-4
              %label.label
                %strong Your Name*
              %label.input
                %i.icon-append.icon-user
                %input#name{:name => "name", :type => "text"}/
            .col.col-4
              %label.label
                %strong Your E-mail*
              %label.input
                %i.icon-append.icon-envelope-alt
                %input#email{:name => "email", :type => "email"}/
            .col.col-4
              %label.label
                %strong Phone Number
              %label.input
                %i.icon-append.icon-tag
                %input#subject{:name => "subject", :type => "text"}/
          %br/
          %div
            %label.label
              %strong Message*
            %label.textarea
              %i.icon-append.icon-comment
              %textarea#message{:name => "message", :rows => "5"}
        %footer
          %button.subbutton{:type => "submit"} Submit Your Message
        .message
          %i.icon-ok
          %p Your message was successfully sent!
    .clearfix.margin_top4
/ end features section 9
.clearfix