.page_title.one
  .container
    %h1 Point Test

.point_test{style: 'margin-left: 20px'}
  %table.table.table-hover{style: 'padding: 70px 80px 0 80px'}
    %tbody
      %tr
        %th{style: 'text-align: left'}
          %span{:lang => "EN-AU", :style => "font-family:\"Arial\",\"sans-serif\";\r\n  color:black"} Factor
        %th{style: 'text-align: left'}
          %span{:lang => "EN-AU", :style => "font-family:\"Arial\",\"sans-serif\";\r\n  color:black"} Description
        %th
          %span{:lang => "EN-AU", :style => "font-family:\"Arial\",\"sans-serif\";\r\n  color:black"} Points
      %tr
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"} Age
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"} 18–24
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;\r\n  font-family:\"Arial\",\"sans-serif\";color:black"} 25
      %tr
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Times New Roman\",\"serif\";\r\n  color:black"}  
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"} 25–32
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;\r\n  font-family:\"Arial\",\"sans-serif\";color:black"} 30
      %tr
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Times New Roman\",\"serif\";\r\n  color:black"}  
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"} 33–39
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;\r\n  font-family:\"Arial\",\"sans-serif\";color:black"} 25
      %tr
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Times New Roman\",\"serif\";\r\n  color:black"}  
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"} 40–44
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;\r\n  font-family:\"Arial\",\"sans-serif\";color:black"} 15
      %tr
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Times New Roman\",\"serif\";\r\n  color:black"}  
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"} 45–49
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;\r\n  font-family:\"Arial\",\"sans-serif\";color:black"} 0
      %tr
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"} English language * or equivalent standard in a specified test)
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"} Competent English - IELTS 6*
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;\r\n  font-family:\"Arial\",\"sans-serif\";color:black"} 0
      %tr
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Times New Roman\",\"serif\";\r\n  color:black"}  
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"} Proficient English - IELTS 7*
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;\r\n  font-family:\"Arial\",\"sans-serif\";color:black"} 10
      %tr
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Times New Roman\",\"serif\";\r\n  color:black"}  
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"} Superior English - IELTS 8*
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;\r\n  font-family:\"Arial\",\"sans-serif\";color:black"} 20
      %tr
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"}
              Australian or overseas skilled employment in nominated
              occupation or a closely related occupation undertaken in the past 10 years
          %p
            %b
              %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"} Note: 
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;\r\n  font-family:\"Arial\",\"sans-serif\";color:black"}
              Maximum points that can be
              awarded for any combination of Australian or overseas skilled employment is
              20 points
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"} One year in Australia
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;\r\n  font-family:\"Arial\",\"sans-serif\";color:black"} 5
      %tr
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Times New Roman\",\"serif\";\r\n  color:black"}  
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"} Three years in Australia
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;\r\n  font-family:\"Arial\",\"sans-serif\";color:black"} 10
      %tr
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Times New Roman\",\"serif\";\r\n  color:black"}  
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"} Five years in Australia
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;\r\n  font-family:\"Arial\",\"sans-serif\";color:black"} 15
      %tr
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Times New Roman\",\"serif\";\r\n  color:black"}  
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"} Eight years in Australia
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;\r\n  font-family:\"Arial\",\"sans-serif\";color:black"} 20
      %tr
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Times New Roman\",\"serif\";\r\n  color:black"}  
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"} Three years overseas
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;\r\n  font-family:\"Arial\",\"sans-serif\";color:black"} 5
      %tr
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Times New Roman\",\"serif\";\r\n  color:black"}  
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"} Five years overseas
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;\r\n  font-family:\"Arial\",\"sans-serif\";color:black"} 10
      %tr
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Times New Roman\",\"serif\";\r\n  color:black"}  
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"} Eight years overseas
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;\r\n  font-family:\"Arial\",\"sans-serif\";color:black"} 15
      %tr
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"} Qualifications (Australian or recognised overseas)
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"}
              Australian Diploma or trade qualification or other qualification
              recognised by a relevant Assessing Authority
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;\r\n  font-family:\"Arial\",\"sans-serif\";color:black"} 10
      %tr
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Times New Roman\",\"serif\";\r\n  color:black"}  
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"} At least a Bachelor degree
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;\r\n  font-family:\"Arial\",\"sans-serif\";color:black"} 15
      %tr
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Times New Roman\",\"serif\";\r\n  color:black"}  
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"} Doctorate
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;\r\n  font-family:\"Arial\",\"sans-serif\";color:black"} 20
      %tr
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"} Australian study requirement
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"} Minimum two years full-time (Australian study requirement)
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;\r\n  font-family:\"Arial\",\"sans-serif\";color:black"} 5
      %tr
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"} Study in a regional area
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"}
              Must meet the Australian Study Requirement while studying in a
              regional area
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;\r\n  font-family:\"Arial\",\"sans-serif\";color:black"} 5
      %tr
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"} Professional Year
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"} Completion of a recognised Professional Year
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;\r\n  font-family:\"Arial\",\"sans-serif\";color:black"} 5
      %tr
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"} Credentialed Community language
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"} NAATI accreditation
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;\r\n  font-family:\"Arial\",\"sans-serif\";color:black"} 5
      %tr
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"} Partner skills
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"}
              Primary applicants partner meets threshold requirements for
              skilled migration visa
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;\r\n  font-family:\"Arial\",\"sans-serif\";color:black"} 5
      %tr
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"}
              Nomination by state/territory government (subclass 176 or 886
              visa)
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"}
              Nomination by a state or territory government under a state
              migration plan
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;\r\n  font-family:\"Arial\",\"sans-serif\";color:black"} 5
      %tr
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"}
              Designated area sponsorship or nominated by state/territory
              government (subclass 475 or 487 visa)
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;font-family:\"Arial\",\"sans-serif\";\r\n  color:black"}
              Sponsorship by an eligible relative living in a designated area
              or nomination by a state or territory government under a state migration plan
        %td
          %p
            %span{:lang => "EN-AU", :style => "font-size:10.0pt;\r\n  font-family:\"Arial\",\"sans-serif\";color:black"} 10
