

.resources

  %ul.VisaForms
    %li
      %a{:href => "http://www.immi.gov.au/allforms/character-requirements/character-statutory-declaration.pdf", :target => "_blank"} Statutory Declaration
    %li
      %a{:href => "http://www.afp.gov.au/what-we-do/police-checks/national-police-checks.aspx", :target => "_blank"} Australian Federal Police Clearance – online
    %li
      %a{:href => "https://afpnationalpolicechecks.converga.com.au/static/images/afp/afp_online_form.pdf", :target => "_blank"} Australian Federal Police Clearance – offline
    %li
      %a{:href => "http://www.immi.gov.au/allforms/pdf/26.pdf", :target => "_blank"} Medical Form (26)
    %li
      %a{:href => "http://www.immi.gov.au/allforms/pdf/160.pdf", :target => "_blank"} X-Ray Form (160)
    %li
      %a{:href => "http://www.immi.gov.au/allforms/health-requirements/health-exam.htm", :target => "_blank"} Health Matrix (1163i)
    %li
      %a{:href => "http://www.immi.gov.au/allforms/pdf/80.pdf", :target => "_blank"} Form 80
    %li
      %a{:href => "http://www.immi.gov.au/allforms/pdf/1221.pdf", :target => "_blank"} Form 1221
    %li
      %a{:href => "http://www.immi.gov.au/allforms/application-forms/forms_num1.htm", :target => "_blank"} Other forms are available on DIAC’s forms page here


  %ul.VisaInformation
    %li
      %p
        %a{:href => "http://www.immi.gov.au/allforms/character-requirements/character-penal.pdf", :target => "_blank"} Police clearance information
    %li
      %p
        %a{:href => "http://www.immi.gov.au/find-price/", :target => "_blank"} DIBP Fee Calculator
    %li
      %p
        %a{:href => "http://www.immi.gov.au/skilled/general-skilled-migration/pdf/csol.pdf", :target => "_blank"} Skilled Occupation List (for 186, 187, 190, 402, 457, 489-state sponsored)
    %li
      %p
        %a{:href => "http://www.immi.gov.au/skilled/general-skilled-migration/pdf/sol.pdf", :target => "_blank"} Skilled Occupation List for 189, 485, 495-relative sponsored
    %li
      %p
        %a{:href => "http://www.immi.gov.au/e_visa/vevo.htm", :target => "_blank"} VEVO – Online visa checks
    %li
      %p
        %a{:href => "http://www.ielts.org/", :target => "_blank"} IELTS (English testing)
    %li
      %p
        %a{:href => "https://www.naati.com.au/online/PDSearch/Skill?WizardId=00dc381b-d6da-4a9d-ac9b-669f5c2c4db8", :target => "_blank"} Translation of documents (in Australia)
    %li
      %p
        %a{:href => "http://www.bupamvs.com.au/", :target => "_blank"} Medical Bookings in Australia (BUPA)
    %li
      %p
        %a{:href => "http://www.abs.gov.au/ausstats/abs@.nsf/Latestproducts/9F38DBF4AE58BAD9CA257B9500131004?opendocument", :target => "_blank"} ANZSCO (occupation descriptions) online
    %li
      %p
        %a{:href => "http://www.immi.gov.au/skilled/general-skilled-migration/estimated-allocation-times.htm", :target => "_blank"} DIAC Processing Times (skilled visas)
    %li
      %p
        %a{:href => "http://www.iscah.com/wp_files/wp-content/uploads/2013/07/medxrayHSA.What-do-I-need-to-bring-to-the-HSA-Medical-Examination11.09.doc", :target => "_blank"} Medical/Xray instructions