
.page_title.three
  .container
    %h1 Visa List

.clearfix
.container{:style => 'padding: 40px 0 !important'}
  %p.big_text3
    Contains a listing of Australian visas. Please use the 
    %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1"}
      %span{:style => "text-decoration: underline;"}
        %font{:color => "#0066cc"} Visa Finder
    if you are unsure of which visa is right for you.


.content_fullwidth{:style => 'padding: 0 !important'}
  .container
    %ul.tabs3
      %li.active
        %a{:href => "#example-3-tab-1", :target => "_self"} Visitor visas
      %li
        %a{:href => "#example-3-tab-2", :target => "_self"} Working and skilled visas
      %li
        %a{:href => "#example-3-tab-3", :target => "_self"} Studying visas
      %li
        %a{:href => "#example-3-tab-4", :target => "_self"} Family and spousal visas
      %li
        %a{:href => "#example-3-tab-5", :target => "_self"} Refugee and humanitarian visas
      %li
        %a{:href => "#example-3-tab-6", :target => "_self"} Other visas
        
    .tabs-content3.two
      #example-3-tab-1.tabs-panel3
        %ul
          %li
            %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/956-"} Electronic Travel Authority (Business Entrant) visa (subclass 956 and   977) [Repealed]
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/601-"} Electronic Travel Authority (subclass 601)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/976-"} Electronic Travel Authority (Visitor) visa (subclass 976)  [Repealed]
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/651-"} eVisitor (subclass 651)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/679-"} Sponsored Family Visitor visa (subclass 679) [Repealed]
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/676-"} Tourist visa (subclass 676) [Repealed]
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/771-"} Transit visa (subclass 771)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/600-"} Visitor (subclass 600)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/462-"} Work and Holiday visa (subclass 462)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/417-"} Working Holiday visa (subclass 417)
      #example-3-tab-2.tabs-panel3
        %ul
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/456-"} Business (Short Stay) visa (subclass 456) [Repealed]
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/888-"} Business Innovation and Investment (permanent) visa (subclass 888)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/188-"} Business Innovation and Investment (provisional) visa (subclass 188)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/890-"} Business Owner (subclass 890)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/160-"} Business Skills (Provisional) visa (subclass 160 and 165) [Repealed]
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/132-"} Business Talent (Permanent) visa (subclass 132)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/124-"} Distinguished Talent visa (subclass 124)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/858-"} Distinguished Talent visa (subclass 858)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/426-"} Domestic Worker (Temporary) Diplomatic and Consular visa (subclass 426) [Repealed]
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/427-"} Domestic Worker (Temporary) Executive visa (subclass 427) [Repealed]
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/121-"} Employer Nomination Scheme (subclass 121 and 856) [Repealed]
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/186-"} Employer Nomination Scheme (subclass 186)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/845-"} Established Business in Australia visa (subclass 845) [Repealed]
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/411-"} Exchange visa (subclass 411) [Repealed]
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/415-"} Foreign Government Agency (subclass 415) [Repealed]
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/406-"} Government Agreement visa (subclass 406) [Repealed]
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/405-"} Investor Retirement (subclass 405)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/891-"} Investor visa (subclass 891)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/120-"} Labour Agreement visa (subclass 120) [Repealed]
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/855-"} Labour Agreement visa (subclass 855) [Repealed]
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/423-"} Media and Film Staff visa (subclass 423) [Repealed]
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/422-"} Medical Practitioner visa (subclass 422) [Repealed]
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/442-"} Occupational Trainee visa (subclass 442)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/470-"} Professional Development visa (subclass 470)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/119-"} Regional Sponsor Migration Scheme (subclass 119 and 857) [Repealed]
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/187-"} Regional Sponsor Migration Scheme (subclass 187)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/428-"} Religious Worker visa (subclass 428) [Repealed]
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/410-"} Retirement visa (subclass 410)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/496-"} Skilled Designated Area Sponsored visa (subclass 496) [Repealed]
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/495-"} Skilled Independent Regional (Provisional) visa (subclass 495) [Repealed]
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/175-"} Skilled Independent visa (subclass 175) [Repealed]
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/885-"} Skilled Independent visa (subclass 885) [Repealed]
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/190-"} Skilled Nominated visa (subclass 190)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/476-"} Skilled Recognition Graduate visa (subclass 476)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/489-"} Skilled Regional (provisional) visa (subclass 489)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/487-"} Skilled Regional Sponsored visa (subclass 487) [Repealed]
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/475-"} Skilled Regional Sponsored visa (subclass 475) [Repealed]
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/887-"} Skilled Regional visa (subclass 887)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/176-"} Skilled Sponsored visa (subclass 176) [Repealed]
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/416-"} Special Program visa (subclass 416) for the Seasonal Worker Program
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/459-"} Sponsored Business Visitor (Short Stay) visa (subclass 459) [Repealed]
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/886-"} Sponsored visa (subclass 886) [Repealed]
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/421-"} Sport visa (subclass 421) [Repealed]
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/892-"} State or Territory Sponsored Business Owner visa (subclass 892)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/893-"} State or Territory Sponsored Investor visa (subclass 893)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/846-"} State or Territory Sponsored Regional Established Business in Australia visa (subclass 846) [Repealed]
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/488-"} Superyacht Crew visa (subclass 488)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/485-"} Temporary Graduate visa (subclass 485)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/420-"} Temporary Work (Entertainment) visa (subclass 420)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/403-"} Temporary Work (International Relations) visa (subclass 403)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/401-"} Temporary Work (long stay) visa (subclass 401)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/400-"} Temporary Work (short stay) visa (subclass 400)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/457-"} Temporary Work (Skilled) visa (subclass 457)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/402-"} Training and Research visa (subclass 402)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/419-"} Visiting Academic visa (subclass 419)
      #example-3-tab-3.tabs-panel3
        %ul
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/576-"} Foreign Affairs or Defence sector visa (subclass 576)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/573-"} Higher Education Sector visa (subclass 573)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/570-"} Independent ELICOS Sector visa (subclass 570)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/575-"} Non Award Sector visa (subclass 575)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/574-"} Postgraduate Research Sector visa (subclass 574)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/571-"} School Sector visa (subclass 571)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/580-"} Student Guardian visa (subclass 580)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/572-"} Vocational Education and Training Sector visa (Subclass 572)
      #example-3-tab-4.tabs-panel3
        %ul
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/102-"} Adoption visa (subclass 102)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/114-"} Aged Dependent Relative visa (subclass 114)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/838-"} Aged Dependent Relative visa (subclass 838)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/804-"} Aged Parent visa (subclass 804)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/836-"} Carer visa (subclass 836)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/116-"} Carer visa (subclass 116)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/101-"} Child visa (subclass 101)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/802-"} Child visa (subclass 802)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/884-"} Contributory Aged Parent (Temporary) visa (subclass 884)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/864-"} Contributory Aged Parent visa (subclass 864)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/173-"} Contributory Parent (Temporary) visa (subclass 173)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/143-"} Contributory Parent visa (subclass 143)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/445-"} Dependent Child visa (subclass 445)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/461-"} New Zealand Citizen Family Relationship (temporary) visa (subclass 461)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/117-"} Orphan Relative (subclass 117)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/837-"} Orphan Relative (subclass 837)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/103-"} Parent visa (subclass 103)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/309-"} Partner (Provisional and Migrant) visa (subclass 309 100)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/801-"} Partner visa (subclass 801 820)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/300-"}> Prospective Marriage visa (subclass 300)
               
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/115-"} Remaining Relative visa (subclass 115)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/835-"} Remaining Relative visa (subclass 835)
      #example-3-tab-5.tabs-panel3
        %ul
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/202-"} Global Special Humanitarian (subclass 202)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/201-"} In country Special Humanitarian (subclass 201)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/866-"}
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/866-"} Protection visa (subclass 866)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/200-"} Refugee visa (subclass 200)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/204-"}> Women at Risk visa (subclass 204)
               
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/203-"} Emergency rescue visa (subclass 203)
      #example-3-tab-6.tabs-panel3
        %ul
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/010-"} Bridging visa A –BVA- (subclass 010)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/020-"} Bridging visa B – BVB – (subclass 020)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/030-"} Bridging visa C – BVC – (subclass 030)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/040-"} Bridging visa D – BVD – (subclass 040 and 041)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/051-"} Bridging visa E – BVE – (subclass 050 and 051)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/942-"} Crew Travel Authority visa (subclass 942)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/203-"} Emergency Rescue visa (subclass 203)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/151-"} Former Resident visa (subclass 151)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/988-"} Maritime Crew visa (subclass 988)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/602-"} Medical Treatment visa (subclass 602)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/675-"} Medical Treatment (Short Stay) visa (subclass 675)[Repealed]
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/685-"} Medical Treatment Long Stay visa (subclass 685) [Repealed]
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/155-"} Resident Return visa (subclass 155 157)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/444-"} Special Category visa (subclass 444)
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/Spec"} Special Purpose visa
          %li
            %p
              %a{:target=>'_blank', :href => "http://www.border.gov.au/Trav/Visa-1/771-"} Transit visa (subclass 771)}
